/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 89.9vh;
}

.sidebar-header {
  padding: 7px;
  text-align: center;
  background-color: #1a252f;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.sidebar-menu li:hover, .sidebar-menu li.active {
  background-color: #34495e;
  border-left: 5px solid #3498db;
}

.icon {
  margin-right: 15px;
}