.bill-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 70px;
}

/* below fixed header */
.bill-body {
  display: flex;
  flex: 1;
}


.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  min-height: calc(100vh - 70px);
  position: sticky;
  top: 70px;         
}


/* main content */
.bill-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f6fa;
  overflow-y: auto;
}
