.input-style {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-style {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

.submit-btn {
  flex: 1;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.clear-btn {
  flex: 1;
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}
